{
  "trailingComma": "none",
  "tabWidth": 4,
  "semi": true,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "printWidth": 120,
  
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
